
{{> titlehead}}

<div class="container" style="font-family: 'Roboto', sans-serif;">

        <div>
            <h3 style="font-weight: 600; margin-top: 90px; text-align: center;">Расчёт стоимости забора</h3>
        </div>

        <div>
            <p style="font-size: 1.1em; text-align: center; margin-top: 20px; color: rgb(76, 76, 76)">Пройдите тест и узнайте количество материала для забора и его стоимость</p>
        </div>
        <div>
             <button id="btn_start_calc" class="pulsingButton">Начать</button>
        </div>

        <div class="contacts">
            <a style="color: #ef1818c8; text-decoration: underline;" href="tel:+375293331121">+375 29 333-11-21</a>
            <p style="font-size: 0.7em;">ЧПУП "ПлиточкаБай" УНП 691809485</p>
        </div>
   
</div>