
{{> titlehead}}


<h5 style="padding: 0 20px; margin-top: 15px; text-align: center; font-size: 1.1em; color: rgb(73, 73, 73)">
    Получите расчет стоимости забора для своего участка
    по вашим параметрам с точностью 97%
</h5>

<div class="nav-steps">
    <button id="step-1" class="button-steps" role="button">Шаг 1</button>
    
    <button id="step-2" class="button-steps" role="button">Шаг 2</button>
    <button id="step-3" class="button-steps" role="button">Шаг 3</button>
    <button id="step-4" class="button-steps" role="button">Шаг 4</button>

    <button id="step-5" class="button-steps" role="button">Шаг 5</button>
    <button id="step-6" class="button-steps" role="button">Шаг 6</button>
    <button id="step-7" class="button-steps" role="button">Шаг 7</button>
    <button id="step-8" class="button-steps" role="button">Шаг 8</button>
    <button id="step-9" class="button-steps" role="button">Шаг 9</button>
    <button id="step-s9" class="button-steps" role="button">Шаг 10</button>
    <button id="step-10" class="button-steps" role="button">Шаг 11</button>
    <button id="step-11" class="button-steps" role="button">Шаг 12</button>
    <button id="step-12" class="button-steps" role="button">Шаг 13</button>
    <button id="step-13" class="button-steps" role="button">Финиш</button>

</div>
<p id="titleStep" class="titleStep"></p>
<div id="content-container" class="content-container"></div>

<div class="footer-steps">
    <button id="prev-step" class="order-steps" role="button">назад</button>
    <button id="next-step" class="order-steps" role="button">вперед</button>
</div>





{{!-- 
 <form id="form-step-1">

    <ul class="image-gallery">
        <li>
          <img src="styles/stepsimg/s1/stolb_v1.jpg" alt="" />
          <div class="check-in">
            <input type="radio" id="stolb-1" name="step-1" value="Все столбы из камня" checked>
             
            <span>Вариант 1. Все столбы из камня</span>
          </div>
        </li>
         
        <li>
          <img src="styles/stepsimg/s1/stolb_v2.jpg" alt="" />
          <div class="check-in">
            <input type="radio" id="stolb-2" name="step-1" value="Каменный столб через один или несколько металлических">
            <span>Вариант 2. Каменный столб через один или несколько металлических</span>
          </div>
        </li>
   
        <li>
          <img src="styles/stepsimg/s1/stolb_v3.jpg" alt="" />
        </li>
   
        <li>
          <img src="styles/stepsimg/s1/stolb_v5.jpg" alt="" />
        </li>

        <li>
          <img src="styles/stepsimg/s1/stolb_v6.jpg" alt="" />
        </li>

        <li>
          <img src="styles/stepsimg/s1/zapolneniev4.jpg" alt="" />
        </li>

    </ul>

    </form> --}}
