
html {
    background-image: url('rocks-wall.png');
    background-repeat: repeat;
}

body {
    background-color: rgb(255, 255, 255);
    width: 90%;
    height: 100%;
    margin: 0 auto;
    border-radius: 10px;
    border: 1px solid rgb(135, 135, 135);
}
 

.nav-steps {
    margin: 15px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.nav-steps button {
    margin: 1px;
}

/* CSS */
.button-steps {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  box-shadow: rgba(0, 0, 0, .1) 0 1px 1px;
  border-radius: 8px;
  color: #3c4043;
  cursor: pointer;
  font-family: arial,sans-serif;
  font-size: 10px;
  height: 26px;
  line-height: 27px;
  min-width: 54px;
  padding: 0 16px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: pre;
}

.button-steps:hover {
  border-color: #94969a;
  box-shadow: rgba(0, 0, 0, .1) 0 1px 1px;
  color: #202124;
}


.button-steps-focus {
    border-color: #4285f4;
    outline: none;
}


 


/* CSS */
.order-steps {
  background-color: initial;
  background-image: linear-gradient(-180deg, #2ed288, #00a85d);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,Roboto,"Helvetica Neue",Arial,sans-serif;
  height: 44px;
  line-height: 44px;
  outline: 0;
  overflow: hidden;
  padding: 0 20px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
  white-space: nowrap;
  width: 100px;
  z-index: 9;
  border: 0;
}

.order-steps:hover {
  background: #02a95e;
}


.footer-steps {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 10px 0 20px 0;
}


.button-nav-disable-true {
  color: #ededee !important;
  outline: none !important;
  border: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}




.button-nav-disable-false {
  color: black;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  border: 1px solid #f2f2f2;
  
}
.button-nav-disable-false:focus {
  border-color: #4285f4;
  outline: none;
}

.select-border-focus-on {
  border-color: #42f486;
  outline: none;
}


.content-container {
    border: 1px solid rgba(233, 232, 232, 0.712);
    height: 450px;
    overflow-y: auto;
}

.image-gallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 10px;
  }
  
  .image-gallery > li {
    flex-basis: 230px; /*width: 350px;*/
    position: relative;
    list-style-type: none;
  }
  
  .image-gallery::after {
    content: "";
    flex-basis: 230px;
  }
  
  .image-gallery li img {
    object-fit: cover;
    max-width: 230px;
    height: 210px;
    vertical-align: middle;
    border: 1px solid #dadde2;
    border-radius: 5px;
  }
  
  
  input[type='radio'] {
    display: block;
    margin: 0 auto;
    margin-top: 13px;
    transform: scale(2);
    
  }

  .check-in span {
    display: inline-block;
    margin-top: 5px;
    width: 100%;
    font-size: 0.8em;
    text-align: center;
  }

.titleStep {
  display: inline-block;
  width: 100%;
  padding: 4px 10px;
  text-align: center;
  margin: 10px 0;
  color: black;
  font-size: 1em;
  font-family: 'Roboto';
}

  /* --------- 5step -------- */

  .div-main-rgroup {
    display: flex;
    flex-flow: row wrap;
    margin: 50px 0;
  }

  .div-img {
    display: flex;
    flex-flow: row nowrap;
    justify-content: end;
    width: 150px;
    height: 100px;
  }

  .div-img img {
    object-fit: fill;
    padding: 10px;
    max-width: 150px;
    height: 100px;
    vertical-align: middle;
    border: 1px solid #dadde2;
    border-radius: 5px;
     
  }

  .div-rgroup {
    display: flex;
    flex-flow: column wrap;
    align-items: center; 
    margin-left: 30px;
  }

  .div-rgroup label {
    margin-left: 20px;
  }

  .div-rgroup p {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 0.8em;
    font-weight: bold;
  }

  .step-6-style {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .step-6-radgroup {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .step-6-radgroup label {
    margin-top: 30px;
    margin-left: 20px;
  }

  .step-6-style img {
    margin: 0 auto;
    object-fit: fill;
    padding: 10px;
    max-width: 500px;
    height: 300px;
    border-radius: 5px;
  }


  .step-2-area-div {
    display: flex;
    margin-top: 30px;
    flex-flow: column wrap;
  }

  .step-2-area-div label {
    font-size: 0.8em;
    font-weight: bold;
  }

  .error-next {
    display: flex;
    width: 300px;
    height: 50px;
    background-image: linear-gradient(-180deg, #fdfbcc, #f6f278);
    border-radius: 10px;
    border: 1px solid #e3e3ae; 
    margin: 0 auto;
    animation: fadeIn 3s;
    -webkit-animation: fadeIn 2.5s;
    -moz-animation: fadeIn 2.5s;
    -o-animation: fadeIn 2.5s;
    -ms-animation: fadeIn 2.5s;
    opacity: 0;
  }

  .error-next p {
    justify-content: center;
    align-items: center;
    margin: auto auto;
  }

  @keyframes fadeIn {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }
  
  @-moz-keyframes fadeIn {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }
  
  @-webkit-keyframes fadeIn {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }
  
  @-o-keyframes fadeIn {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }
  
  @-ms-keyframes fadeIn {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }

  .formdiv {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    margin: 50px 0;   
  }

  
  .form-div-send {
    padding: 20px;
    margin-left: 10px; 
    border: 1px solid #f2f2f2;
    border-radius: 8px;
    box-shadow:
    inset 0 0  0 1px rgb(255,255,255, 0.936),
          0.1em 0.1em 0.2em rgba(0, 0, 0, 0.112);
  }

  .form-div-send label {
    margin-top: 15px;
    font-size: 0.8em;
    font-weight: bold;
    color: #434343;
  }

  .formdiv img {
    display: flex;
    flex-flow: row wrap;
    justify-content: end;
    margin: 0 auto;
    object-fit: fill;
    padding: 40px;
    max-width: 200px;
    height: 210px;
     
  }

  /* --------- button finish --------- */

/* CSS */
.formdiv button {
   
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 45px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 1em;
  margin-left: 80px;
  margin-top: 10px;
   
}

.formdiv button:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.formdiv button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.formdiv button:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}